<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Naprawy 3.0</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Główna</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/maintenances']">Naprawy</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/vehicles-list']">Pojazdy</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/czesci-dictionary']">Części</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/maintenances-dictionary']">Czynności</a>
          </li>
          <li *ngIf="loginDisplay" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profile']">Użytkownik</a>
          </li>

          <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
            <button class="btn btn-link p-0"
                    style="min-width: unset"
                    id="qsLogoutBtn"
                    (click)="logout()">
              Log out
            </button>
          </li>

        </ul>

        <ul class="navbar-nav d-none d-md-block">
          <!-- Login button: show if NOT authenticated -->
          <li class="nav-item"
              *ngIf="(auth.isAuthenticated$ | async) === false">
            <button id="qsLoginBtn"
                    class="btn btn-primary btn-margin"
                    (click)="loginWithRedirect()">
              Log in1
            </button>
            <button id="qsLoginBtn"
                    class="btn btn-primary btn-margin"
                    (click)="auth.loginWithPopup()">
              Log in2
            </button>
          </li>
          <!-- / Login button -->
          <!-- Fullsize dropdown: show if authenticated -->
          
          <!-- /Fullsize dropdown -->
        </ul>
        <!--<app-login-menu></app-login-menu>-->
        <!--<button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <span *ngIf="loginDisplay">{{userName}}</span>
  <button *ngIf="loginDisplay" (click)="logout()">Logout</button>-->
      </div>
    </div>
  </nav>
</header>
