<!-- <p>maintenance-detail-edit works!</p>
<p>{{maintenancePosition | json}}</p> -->

<!-- <p>{{partsDictionary | json}}</p>
<p>{{maintenancesDictionary | json}}</p> -->
<p>Maintenance-detail-edit</p>
<div *ngIf="maintenancePosition">
    
    <h4 *ngIf="!maintenancePosition.idMaintenanceDetails">Dodanie pozycji</h4>
    <h4 *ngIf="maintenancePosition.idMaintenanceDetails!=null">Edycja pozycji</h4>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label>Czynność:</label>
          <select class="form-select mb-3" #maintenance="ngModel" [(ngModel)]="maintenancePosition.maintenance" name="maintenance">
              <!-- <option value="default">I am interested in</option> -->              
              <option [ngValue]="maintenancePosition.maintenance">{{maintenancePosition.maintenance?.name}}</option>  
              <option value="default">{{maintenancePosition.maintenance}}</option>         
              <option *ngFor="let maintenance of maintenancesDictionary" [ngValue]="maintenance">{{maintenance.name}}</option>
          </select>    
          <!-- <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>         -->
        </div>
        
        <div class="form-group">
          <label>Część:</label>
          <select class="form-select mb-3" #part="ngModel" [(ngModel)]="maintenancePosition.part" name="part">
              <!-- <option value="default">I am interested in</option> -->     
              <option [ngValue]="maintenancePosition.part">{{maintenancePosition.part?.name}}</option>         
              <option *ngFor="let part of partsDictionary" [ngValue]="part">{{part.name}}</option>
          </select>    
          <!-- <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>         -->
        </div>

        <div class="form-group">
          <label>Ilość:</label>
          <input type="text"  required #quantity="ngModel" [class.is-invalid]="quantity.invalid && quantity.touched" class="form-control" [(ngModel)]="maintenancePosition.quantity" name="quantity" (change)="calculateCost()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">            
          <small class="text-danger" [class.d-none]="cost.valid || cost.untouched">Ilość jest wymagana</small>
        </div> 

        <div class="form-group">
          <label>Cena jedn.:</label>
          <input type="text" required #price="ngModel" [class.is-invalid]="price.invalid && price.touched" class="form-control" [(ngModel)]="maintenancePosition.price" name="price" (change)="calculateCost()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">            
          <small class="text-danger" [class.d-none]="cost.valid || cost.untouched">Cena jednostkowa jest wymagana</small>
        </div>  

        <div class="form-group">
          <label>Koszt:</label>
          <input type="text" disabled required #cost="ngModel" [class.is-invalid]="cost.invalid && cost.touched" class="form-control" [(ngModel)]="maintenancePosition.cost" name="cost">            
          <small class="text-danger" [class.d-none]="cost.valid || cost.untouched">Koszt jest wymagany</small>
        </div>                 

        <div class="form-group">
          <label>Opis:</label>
          <!-- <input type="text" #description="ngModel" class="form-control" [(ngModel)]="maintenancePosition.description" name="description">             -->
          <textarea class="form-control" #description="ngModel" class="form-control" [(ngModel)]="maintenancePosition.description" name="description" rows="3"></textarea>
        </div>                 
<div>    
    <button [disabled]="userForm.form.invalid" class="btn btn-primary"  type="submit">Zatwierdź</button>    
    <button class="btn btn-primary" (click)="goBack()">Anuluj</button>
</div>