
<p *ngIf="!vehicle"><em>Ładowanie... danych pojazdu {{vehicleId}}</em></p>

<div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
</div>

<div *ngIf="vehicle != null">
    <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label>Marka:</label>
            <input type="text" required #brand="ngModel" [class.is-invalid]="brand.invalid && brand.touched" class="form-control" [(ngModel)]="vehicle.brand" name="brand">
            <small class="text-danger" [class.d-none]="brand.valid || brand.untouched">Marka pojazdu jest wymagana</small>
        </div> 
        
        <div class="form-group">
            <label>Model:</label>
            <input type="text" required #type="ngModel" [class.is-invalid]="type.invalid && type.touched" class="form-control" [(ngModel)]="vehicle.type" name="type">
            <small class="text-danger" [class.d-none]="type.valid || type.untouched">Model pojazdu jest wymagany</small>
        </div>
        
        <div class="form-group">
            <label>VIN:</label>
            <input type="text" required #vin="ngModel" class="form-control" [class.is-invalid]="vin.invalid && vin.touched" [(ngModel)]="vehicle.vin" name="vin">            
            <small class="text-danger" [class.d-none]="vin.valid || vin.untouched">Numer VIN jest wymagany.</small>
        </div>

        <div class="form-group">
            <label>Numer silnika:</label>
            <input type="text" #engineNumber="ngModel" class="form-control" [(ngModel)]="vehicle.engineNumber" name="engineNumber">            
        </div>
        <div class="form-group">
            <label>Pojemność silnika [cm^3]:</label>
            <input type="text" #engineCapacity="ngModel" class="form-control" pattern="^(0|[1-9][0-9]*)$" [class.is-invalid]="engineCapacity.invalid && engineCapacity.touched" [(ngModel)]="vehicle.engineCapacity" name="engineCapacity">            
            <div *ngIf="engineCapacity.errors && (engineCapacity.invalid || engineCapacity.touched)" >
                <small class="text-danger" *ngIf="engineCapacity.errors['required']">Pojemność silnika musi być uzupełniona</small>
                <small class="text-danger" *ngIf="engineCapacity.errors['pattern']">Pojemność silnika musi mieć cyfry</small>
            </div>
        </div>

        <div class="form-group">
            <label>Numer rejestracyjny:</label>
            <input type="text" #registrationNumber="ngModel" class="form-control" [(ngModel)]="vehicle.registrationNumber" name="registrationNumber">            
        </div>

        <div class="form-group">
            <label>Rok produkcji:</label>            
            <input type="number" #productionYear="ngModel" pattern="^\d{4}$" required [class.is-invalid]="productionYear.invalid && productionYear.touched" class="form-control" [(ngModel)]="vehicle.productionYear" name="productionYear">
            <div *ngIf="productionYear.errors && (productionYear.invalid || productionYear.touched)" >
                <small class="text-danger" *ngIf="productionYear.errors['required']">Rok produkcji musi być uzupełniony</small>
                <small class="text-danger" *ngIf="productionYear.errors['pattern']">Rok produkcji musi mieć 4 cyfry</small>
            </div>
        </div>

        <div class="form-group">
            <label>Data zakupu:</label>
                        
            <input type="date" #purchaseDate="ngModel" class="form-control" placeholder="yyyy-MM-dd" [ngModel]="vehicle.purchaseDate | date:'yyyy-MM-dd'" name="purchaseDate" >            
        </div>

        <div class="form-group">
            <label>Data sprzedaży:</label>
            <input class="form-check-input" type="checkbox" (click)="onSoldDateClick()" [checked]="soldDateIsChecked" >
            <input type="date" [disabled]="!soldDateIsChecked" #soldDate="ngModel" class="form-control" [ngModel]="vehicle.soldDate | date:'yyyy-MM-dd'" (ngModelChange)="vehicle.soldDate=$event" name="soldDate">            
        </div>

<div>
    <button (click)="gotoVehiclesList()" class="btn btn-primary">Powrót</button>
    <button [disabled]="userForm.form.invalid" class="btn btn-primary"  type="submit">Submit form</button>
</div>