<p>Maintenance-edit</p>

<p *ngIf="!maintenance"><em>Edycja, ładowanie... pozycji dla MainId={{maintenanceId}}</em></p>

<div *ngIf="errorMsg">
    <div class="alert alert-danger">{{errorMsg}}</div>
    <button (click)="goBack()" class="btn btn-primary">Cofnij</button>
    <p><em>{{debugData}}</em></p>
</div>


<div *ngIf="maintenance != null && !hideMaintenance">
    <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>      
      <div class="form-group">
        <label>Data:</label>
        <input type="date" #maintenanceDate="ngModel" class="form-control" [(ngModel)]="maintenance.maintenanceDate" name="maintenanceDate">        
      </div>
        <div class="form-group">
            <label>Przebieg:</label>
            <input type="text" required #mileage="ngModel" [class.is-invalid]="mileage.invalid && mileage.touched" class="form-control" [(ngModel)]="maintenance.mileage" name="mileage" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            <small class="text-danger" [class.d-none]="mileage.valid || mileage.untouched">Przebieg jest wymagany</small>
        </div> 
        
        <div class="form-group">
            <label>Opis:</label>            
            <textarea class="form-control" #description="ngModel" [class.is-invalid]="description.invalid && description.touched" class="form-control" [(ngModel)]="maintenance.description" name="description" rows="3"></textarea>
        </div>                
    <div>
        <button (click)="goBack()" class="btn btn-primary">Powrót</button>
        <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Zatwierdź</button>
    </div>
    </form>
</div>
 
<div *ngIf="maintenance!=null">
    <app-maintenances-details [parentMaintenanceId]="maintenance.id" [editingMode]="true" (isEditingPositionEvent)="hideMaintenance=$event" (onChange)="onPositionsChanged($event)"></app-maintenances-details>

    <p>{{maintenance.maintenanceDetailsList | json}}</p>
</div> 
