<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="MyGitHub" value="https://nuget.pkg.github.com/Przemyslaw-Witczak/index.json" />
    </packageSources>

	<!--<packageSourceCredentials>
		<MyGitHub>
			<add key="Username" value="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" />
			<add key="Password" value="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" />
		</MyGitHub>
		
	</packageSourceCredentials>-->
	
</configuration>
