<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/Przemyslaw-Witczak/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Nuget" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
