<div *ngIf="!selectedVehicle">
    <h3>Wybierz pojazd</h3>
    <!-- Wybór pojazdów z listy -->
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
          <tr>        
              <th>Marka</th>
              <th>Model</th>        
              <th>Numer rejestracyjny</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let vehicle of vehiclesList" (click)="onVehicleSelect(vehicle)">        
              <td>{{vehicle.brand}}</td>
              <td>{{vehicle.type}}</td>
              <td>{{vehicle.registrationNumber}}</td>
              <td><button class="btn btn-primary btn-sm" (click)="onVehicleSelect(vehicle)">Wybierz</button></td>
          </tr>
      </tbody>
    </table>

</div>

<!-- Wybrany pojazd jako nagłówek -->
<div *ngIf="selectedVehicle">
  <table>
    <tr>
      <td>
        <h3>{{selectedVehicle?.brand}} {{selectedVehicle?.type}} {{selectedVehicle?.registrationNumber}}</h3>
      </td>
      <td>
        <button (click)="selectVehicle()" class="btn btn-primary">Zmień</button>
      </td>              
    </tr>
  </table>
  
  
</div>


<!-- Lista czynności - historia przebiegu pojazdu -->
<div *ngIf="selectedVehicle && !selectedMaintenance && maintenancesList.length>0">
  <h3>Podsumowanie</h3>
  <table>
    <tr><th>Przejechano:</th><td>{{maintenancesList[maintenancesList.length-1].distance}} [km]</td></tr>
    <tr><th>Koszt:</th><td>{{getSummaryCost() | currency:'PLN'}}</td></tr>

  </table>

  <table>
    <tr>
      <td><h2>Historia</h2></td>
      <td><button class="btn btn-primary" (click)="onAddMaintenance()">Dodaj wpis</button></td>
    </tr>
  </table>

  <div *ngIf="selectedVehicle && !selectedMaintenance">
    <a *ngIf="!filtersEnabled" (click)="showHideFilters()" cButton class="me-1" color="primary">Pokaż panel filtrów</a>
    <div *ngIf="filtersEnabled">
      <h4>Filtry:</h4>
      <label>Data od:</label>
      <input type="date" #maintenanceDateFrom="ngModel" class="form-control" placeholder="yyyy-MM-dd" [ngModel]="maintenanceFilters?.maintenanceDateFrom | date:'yyyy-MM-dd'" name="maintenanceDateFrom">

      <label>Data do:</label>
      <input type="date" #maintenanceDateTo="ngModel" class="form-control" placeholder="yyyy-MM-dd" [ngModel]="maintenanceFilters?.maintenanceDateTo | date:'yyyy-MM-dd'" name="maintenanceDateTo">

      <label>Nazwa części:</label>
      <input type="text" #partName class="form-control" [ngModel]="maintenanceFilters?.partName">

      <label>Nazwa czynności:</label>
      <input type="text" #maintenanceName class="form-control" [ngModel]="maintenanceFilters?.maintenanceName" />

      <div>
        <label>Zliczaj koszty:</label><br />
        <input type="checkbox" name="kosztyPaliwa" #fuelCosts class="form-control" [ngModel]="maintenanceFilters?.sumFuelCosts"/><label for="kosztyPaliwa">paliwa</label><br />
        <input type="checkbox" name="kosztyNapraw" #maintenanceCosts class="form-control" [ngModel]="maintenanceFilters?.sumMaintenanceCosts"/><label for="kosztyNapraw">napraw</label><br />
      </div>
      
      <p>{{maintenanceFilters | json}}</p>

      <button class="btn btn-primary btn-sm">Filtruj</button>
      <a (click)="showHideFilters()" cButton class="me-1" color="primary">Anuluj</a>
    </div>
  </div>
  <table class='table table-striped table-sm table-hover' aria-labelledby="tableLabel" *ngIf="vehiclesList">
    <thead>
      <tr>
        <th>Lp</th>
        <th>Data</th>
        <th>Stan licznika</th>
        <th>Opis</th>
        <th>Koszt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maintenance of maintenancesList; index as i" (click)="onMaintenanceSelect(maintenance)" [class.selected]="isMaintenanceSelected(maintenance)">
        <td>{{i+1}}</td>
        <td>{{maintenance.maintenanceDate | date:'YYYY-MM-dd'}}</td>
        <td>{{maintenance.mileage}}</td>
        <td>{{maintenance.description}} {{maintenance.errorMessage}}</td>
        <td>{{maintenance.cost | currency:'PLN'}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="onMaintenanceSelect(maintenance)">Pokaż</button></td>
        <td><button class="btn btn-primary btn-sm" (click)="onMaintenanceDelete(maintenance)">Usuń</button></td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Szczegóły czynności -->
<div *ngIf="selectedMaintenance">  
  <h3>Szczegóły wpisu:</h3>
  <table>    
    <tr><th>Data:</th><td>{{selectedMaintenance.maintenanceDate | date:'YYYY-MM-dd'}}</td></tr>
    <tr><th>Stan licznika:</th><td>{{selectedMaintenance.mileage}} [km]</td></tr>
    <tr><th>Koszt:</th><td>{{selectedMaintenance.cost | currency:'PLN'}}</td></tr>
    <tr><th>Opis:</th><td>{{selectedMaintenance.description}}</td></tr>    
  </table>
  <table>
    <tr>
      <td><button class="btn btn-primary" (click)="unselectMaintenance()">Wróć</button></td>
      <td><button (click)="onEditMaintenance(selectedMaintenance)" class="btn btn-primary">Edytuj</button></td>
    </tr>
  </table>
  
  

<div *ngIf="selectedMaintenance">
  <app-maintenances-details [parentMaintenanceId]="selectedMaintenance.id" [editingMode]="false"></app-maintenances-details>
</div>

    
</div>
