<h1 id="tableLabel">Ewidencja pojazdów</h1>

<p *ngIf="!vehiclesList"><em>Ładowanie...</em></p>

<app-vehicle-details [parentData]="selectedVehicle"></app-vehicle-details>
<hr>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehiclesList">
  <thead>
    <tr>
      <th></th>
      <th>Marka</th>
      <th>Model</th>        
      <th>Numer rejestracyjny</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehiclesList" (click)="onSelect(vehicle)" [class.selected]="isSelected(vehicle)">
      <td><input type="radio" [checked]="isSelected(vehicle)"></td>
      <td>{{ vehicle.brand}}</td>
      <td>{{ vehicle.type}}</td>
      <td>{{ vehicle.registrationNumber}}</td>
      <td><button (click)="onEdit(vehicle)">Edytuj</button></td>
      <td><button>Usuń</button></td>
    </tr>
  </tbody>
</table>
